<style>
    nav{
        display: flex;
        justify-content: center;
        height: 70px;
        background-color: green;
    }
    #nav-div{
        width: 50%;
        color: white;
    }
    #nav-a{
        text-decoration: none;
        color: white;
        display: flex;
        margin:20px ;
    }
    #link{
        display: flex;
        align-items: center;
    }

</style>



<nav>
    <div id="nav-div">
        <h1>Great Quotes</h1>
    </div>
    <div id="link">
        <h3><a id="nav-a" href="/quotes">All Quotes</a></h3>
        <h3><a id="nav-a" href="/quotes/new">New Quotes</a></h3>
    </div>
</nav>